/* RESETS & VARIABLES */

:root {
    --color-mintCream: #F5F5F5;
    --color-darkMintCream: #cbcfc8;
    --color-burntMintCream: #a9ada5;
    --color-gunmetal: #19323C;
    --color-lightGunmetal: #27646e;
    --color-softGunmetal: #d5e2e6;
    --color-sizzleRed: #F2545B; 
    --color-dreamRed: #A93F55;

    --color-errorRed: #e83535;
    --color-confirmGreen: #19bd21;

    --pageHeaderHeight: 4rem;
}  

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    transition: width 0.1s linear, color 0.1s linear, background-color 0,1s linear, height 0.1s linear;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal)); 
    box-sizing: border-box;
    font-size: 16px;
} 

/* GENERAL */

.loadingWrapper {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadingSpinner {
    display: block;
    height: 2.25rem;
}

a, a:visited {
    color: var(--color-lightGunmetal);
}

a:hover, a:active {
    color: var(--color-sizzleRed);
}

/* PAGE HEADER & FOOTER */

.pageHeader, .pageFooter, .main {
    transition: 0.4s;
}

.pageHeader, .pageFooter {
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal));
    width: 100%;
    padding: 0;
    margin: auto;
}

.pageFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-mintCream);
    color: var(--color-softGunmetal);
}

.pageFooter a {
    color: var(--color-mintCream);
}

.pageFooter a:hover, .pageFooter a:active {
    color: var(--color-sizzleRed);
}

.pageHeader {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal));
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 10;
    /*box-shadow: 0 0rem 0.175rem 0.175rem rgba(0,0,0,0.25);*/
}

#logo {
    max-height: 3rem;
    max-width: 100%;
}

.shadowUnderlined {
    box-shadow: 0 0rem 0.2rem 0rem rgba(0,0,0,0.5);
}

#navContainer {
    height: var(--pageHeaderHeight);
    flex-wrap: nowrap;
}

#logoLink {
    flex-shrink: 1;
    min-width: 10rem;
}

.headerNav {
    flex-shrink: 2;
    min-width: 0;
}

.pageHeader * {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoutBtnUsername {
    margin-left: 0.3rem;
    font-weight: normal;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pageHeader nav {
    margin-left: auto;
}

.navButton {
    transition: all 0.2s linear;
    display: flex;
    flex-direction: row;
    text-overflow: clip("...");
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}

#landingNav .navButton {
    padding: 1rem 1rem;
}

.landingDescription {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    max-width: 45%;
}

#dropdownButton {
    max-width: 100%;
}

#dropdownButton * {
    color: var(--color-mintCream);
}

#dropdownButtonIcon {
    flex-shrink: 0;
}

#dropdownButtonText {
    text-overflow: ellipsis;
    min-width: 0;
    display: inline;
    white-space: nowrap;
    overflow-x: clip;
    overflow-y: visible;
    /*
    overflow-y: visible;
    */
    text-align: left;
    text-overflow: ellipsis;
}

#dropdownContainer {
    position: absolute;
    top: var(--pageHeaderHeight);
    align-items: flex-end;
    height: fit-content;
    padding-top: 0;
    padding-bottom: 0;
}

#dropdownContainer, #dropdownContainer ul{
    display: flex;
    flex-direction: column;
}

#dropdownContainer ul, #dropdownContainer ul li {
    width: 100%;
}

#dropdownContainer ul {
    width: 20rem;
    max-width: 90%;
    background-color: white;
    box-shadow: 0 0rem 0.2rem 0rem rgba(0,0,0,0.5);
    justify-content: flex-end;
    border-radius: 1rem;
    clip-path: inset(0px -1rem -1rem -1rem);
}

#dropdownContainer ul li {
    justify-content: flex-start;
    border-bottom: 0.05rem solid var(--color-gunmetal);
}

#dropdownContainer ul li:last-child {
    border-bottom: none;
}

#dropdownContainer ul li:first-child .dropdownItem {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#dropdownContainer ul li:last-child .dropdownItem {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dropdownItem:hover {
    background-color: var(--color-sizzleRed);
    color: white;
    cursor: pointer;
}

.dropdownItem {
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    transition: all 0.1s linear;
    color: var(--color-gunmetal);
    font-weight: bold;
    border-radius: 0;
}

button.dropdownItem {
    border: none;
    background: none;
}

a.dropdownItem {
    text-decoration: none;
    color: var(--color-gunmetal);
}

#logoutBtnUsername {
    font-weight: normal;
}

.navButton, .navButton:visited, .navButton, .navButton a:link, .navButton a:visited {
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    background-color: var(--color-mintCream);
    color: var(--color-gunmetal);
    border-radius: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    transition: all 0.1s linear;
}

.outlineButton, .outlineButton:visited {
    background: none;
    color: white;
    border: 0.1rem solid white;
}

.outlineButton:hover {
    border-color: var(--color-sizzleRed);
}

.transparentButton, .transparentButton:visited {
    background-color: transparent;
    backdrop-filter: brightness(125%);
    color: var(--color-mintCream);
}

.navButton:hover, .centeredBox form input[type="submit"]:hover {
    background-color: var(--color-sizzleRed);
    color: var(--color-mintCream);
    cursor: pointer;
}

.pageFooter {
    bottom: 0;
    left: 0;
    height: var(--pageHeaderHeight);
    width: 100%;
}

/* MAIN AREA */

.main {
    background-color: var(--color-mintCream);
    min-height: calc(100vh - 2*var(--pageHeaderHeight));
    width: 100%;
    color: var(--color-gunmetal);
    display: flex;
    flex-direction: column;
}

.sectionWrapper {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.sectionWrapper:last-of-type {
    padding-bottom: 2rem;
}
   
.dark {
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal)); 
    justify-content: center;
    align-items: center;
    color: var(--color-mintCream);
}

#bigHeader {
    font-size: clamp(2rem, 5vw, 3.2rem);
}

/* CONTENT ITEMS */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80rem;
    width: 100%;
    margin: auto;
    position: relative;
    background: none;
    padding: 0.5rem 1rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.stack {
    flex-direction: column;
}

.contentRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.contentRow h1 {
    flex-grow: 3;
    flex-shrink: 0;
}

.contentCard {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem var(--color-darkMintCream);
    padding: 1.2rem 1.5rem;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    position: relative;
    gap: 0.75rem;
}

.infoBox {
    flex-grow: 1;
    background-color: lightgray;
    border-radius: 1.5rem;
    padding: 0.5rem;
    width: 16rem;
    height: 16rem;
    text-align: center;
}

.infoBox img {
    border: 0.33rem solid var(--color-gunmetal);
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
}

/* LANDING PAGE */

.separator {
}

#graphic {
    height: 9rem;
}

#landingBanner {
    width: 100%;
    gap: 1rem;
}

#dropbox {
    height: 16rem;
    width: 100%;
    margin: 0 auto;
    border: 0.35rem dotted var(--color-lightGunmetal);
    color: var(--color-gunmetal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    transition: all 0.1s linear;
    z-index: 3;
    padding: 1rem; 
}

#dropbox:hover, #dropbox.highlighted {
    /*
    background-color: rgba(243, 247, 240, 0.2);
    background-color: var(--color-softGunmetal);
    */
    border-color: var(--color-sizzleRed);
    color: var(--color-sizzleRed);
}


#dropbox.highlighted {
    /*(box-shadow: 0 0 0 3000px rgba(0,0,0,0.5);*/
    border: 0.3rem dotted var(--color-sizzleRed) !important;
}

#dropbox:hover {
    cursor: pointer;    
    transition: background-color 0.1s linear border-color 0.1s linear;
    /*box-shadow: inset 0 0 2rem rgba(0,0,0,0.5);*/
}

#dropbox * {
    pointer-events: none;
}

#uploadIcon {
    height: 30%;
    margin: 1rem;
}


/* FORMS */

.centeredBox {
    min-width: fit-content;
    width: 25rem;
    margin: auto;
    padding: 3rem 5rem;
    align-items: center;
    box-shadow: 0 0 1rem 1rem rgba(0,0,0,0.1);
    color: var(--color-gunmetal);
    flex-grow: 0;
    gap: 0.75rem;
}

.formGrid input, .formGrid Label {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    padding: 0.25rem;
}

.formGridInput {
    grid-column: 2;
}

.formGrid input[type="text"], .formGrid input[type="password"] {
    border-bottom: 0.2rem solid lightgray;
}

.formGrid input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--color-gunmetal);
    border: none;
    border-radius: 1.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    height: 3rem;
    font-size: 1.2rem;
    transition: 0.1s;
}

.formGrid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 1.75rem;
}

.formGridLabel {
    font-weight: bold;
    grid-column: 1;
}

#uploadAuthorLabel, #uploadTitleLabel {
    grid-column: 1;
}

#uploadAuthorInput, #uploadTitleInput, #loginUsernameInput, #loginPasswordInput, #newUsernameInput, #newPasswordInput {
    grid-column: 2;
}

.formGridSubmit {
    grid-column: 1/3;
}

h1 {
    font-size: 2.25rem;
    margin: 0 0 0 0;
}

/* BROWSE PAGE */

.audioCardGrid {
    position: relative;
    padding: 0;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    */
}

.searchBar {
    display: flex;
    flex-direction: row;
    min-width: 0;
    border: 0.1rem solid var(--color-darkMintCream);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0;
    align-items: center;
    height: 2.5rem;
    flex-grow: 1;
    flex-shrink: 2;
    max-width: 20rem;
    transition: all 0.1s linear;

}

.searchBar .icon { 
    height: 100%;
}

.searchBar:focus-within {
    border-color: var(--color-gunmetal);
}

.searchBar:focus-within {  
    outline: none;
}

.searchBar input {
    outline: none;
    border: none;
    background: none;
    font-size: 1.1rem;
    color: var(--color-gunmetal);
    transition: all 0.1s linear;
    width: 100%;
    margin: 0 0 0 0.5rem;
}

.searchBar input:focus {
    color: var(--color-gunmetal);
}

.audioCardWrapper {
    position: relative;
    padding: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.audioCard {    
    overflow: hidden;
    height: auto;
    padding: 1.2rem 1.5rem;
    color: var(--color-gunmetal);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: [playBtn-start] auto [timeBar-start] 1fr [timeText-start] auto [downloadBtn-start] auto;
    grid-template-areas:    "title title author author"
                            "playBtn timeBar timeText downloadBtn";
    row-gap: 0.5rem;
    margin-bottom: 0rem;
}

.audioCard:nth-child(odd) {
    /*background-color: var(--color-softGunmetal);
    background-color: rgb(240,240,240);*/

}

.audioCard:nth-child(even) {
    /*
    border-left: 0.2rem solid var(--color-softGunmetal);
    border-right: 0.2rem solid var(--color-softGunmetal);
    */
    
}

.audioCard * {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.soundTitle {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

.soundTitle {
    grid-area: title;
}

.soundPlayBox {
    grid-area: playBtn;
}

.soundSliderBox {
    grid-area: timeBar;
    padding: 0 0.75rem;
}

.soundSlider {
    width: 100%;
}

.soundTimeText {
    grid-area: timeText;
    justify-content: center;
    padding: 0 1rem;
}

.soundAuthor, .soundAuthor *, .soundDeleter, .soundDeleter * {
    grid-area: author;
    justify-content: right;
    align-items: start;
}

.soundDownloadBox {
    grid-area: downloadBtn;
}

.authorLink {
    margin-left: 0.2rem;
}

.soundDeleteButton {
    border: none;
    background: none;
    border: 0.1rem solid var(--color-dreamRed);
    color: var(--color-dreamRed);
    transition: all 0.1s linear;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
}

.soundDeleteButton:hover {
    background-color: var(--color-sizzleRed);
    border-color: var(--color-sizzleRed);
    color: white;
    cursor: pointer;
}

/*
.audioCard:focus-within {

    box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
    z-index: 3;
}
*/


/* Font Icons */

.iconButton {
    color: var(--color-gunmetal);
    transition: all 0.1s linear;
    padding: 0;
    border: none;
    background-color: transparent;
    height: 1.5rem;
    width: 1.5rem;
}

.iconButton:hover {
    cursor: pointer;
}

.iconButton.emphasizable:hover {
    color: var(--color-sizzleRed);
}

/* RANGE INPUT */

input[type="range"] {
    background: none;
    height: 0.3rem;
    border-radius: 0.5rem;
    background-color: var(--color-mintCream);
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 7px;
}

/* Accounting for most browsers, including Firefox */

/* Most browsers */
/*
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--color-darkMintCream);
    height: 0.3rem;
    border-radius: 0.5rem;
    background: none;
}
*/

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: var(--color-gunmetal);
    border-radius: 50%;
}


/* Firefox */
/*
input[type="range"]::-moz-range-track {
    background: var(--color-darkMintCream);
    height: 0.3rem;
    border-radius: 0.5rem;
    background: none;
}
*/

/*
input[type="range"]::-moz-range-progress {
    background-color: var(--color-gunmetal);
}
*/

input[type="range"]::-moz-range-thumb {
    border: none;
    height: 1rem;
    width: 1rem;
    background-color: var(--color-gunmetal);
    border-radius: 50%;
}

/* IE */
/*
input[type="range"]::-ms-fill-lower {
    background-color: var(--color-gunmetal);
}
*/

.audioCard:nth-child(odd) input[type="range"]::-webkit-slider-runnable-track, .audioCard:nth-child(odd) input[type="range"]::-moz-range-track {

    /*background: var(--color-burntMintCream);*/
}

/* MODAL */

.modalBackground {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 6;
}

/*
.modalContent {
    position: relative;
    width: 50%;
    height: 70%;
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    z-index: 7;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);

}
*/

.msgModal {
    display: flex;
    gap: 0.5rem;
    visibility: visible;
    align-items: center;
    position: fixed;
    z-index: 20;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 85%;
    height: auto;
    padding: 0.75rem;
    background-color: white;
    font-weight: bold;
    border-radius: 1.5rem;
    color: black;
    border: 0.3rem solid black;
    box-shadow: 0 0 2rem rgba(0,0,0,0.5);
    transition: visibility 0s, bottom 0.1s cubic-bezier(0.175, 0.9, 0.3, 1.25);
}

.collapsed {
    visibility: hidden;
    bottom: -5rem;
    transition: visibility 0.2s, bottom 0.1s ease-in;
}

.msgIcon {
    font-size: 2rem;
}

.msgModal p {
    font-size: 1rem;
    width: fit-content;
    text-overflow: wrap;
}

.msgError {
    color: var(--color-errorRed);
    border-color: var(--color-errorRed);
}

.msgConfirm {
    color: var(--color-confirmGreen);
    border-color: var(--color-confirmGreen); 
}

/* PROFILE */

#profile {
    /*padding: 1.5rem;*/
}

.userIcon {
    height: 2rem;
}

#deleteAccountButton {
    border: 0.1rem solid var(--color-dreamRed);
    color: var(--color-dreamRed);
    justify-self: flex-end;
    align-self: flex-end;
    margin-left: auto;
}

#deleteAccountButton:hover {
    background-color: var(--color-sizzleRed);
    border-color: var(--color-sizzleRed);
    color: var(--color-mintCream);
}

/* MOBILE */

@media (max-width: 699.98px) {
    /*
    :root {
        --pageHeaderHeight: 5rem;
    }
    */

    /* HEADER */

    /*
    .pageHeader #logoLink {
        display: inline-block;
        max-width: 50%;
        min-width: 12rem;
    }
    */

    #browseLink {
        display: none;
    }

    #landingBanner {
        flex-direction: column;
    }

    #graphic {
        height: 6rem;
        order: 1;
    }

    #landingLogoBox {
        order: 2;
    }

    #bigHeader {
        text-align: center;
        justify-content: center;
    }

    #dropdownContainer ul {
        width: 100%;
        max-width: 100%;
    }

    .contentRow {
        width: 100%;
    }

    .dropdownItem {
        padding: 1.5rem 1rem;
    }

    /* CONTENT */

    .main {
        padding: 0;
        /*min-width: fit-content;*/
    }

    .sectionWrapper {
        padding: 1rem 0;
    }

    .contentBox {
        align-items: center;
        transition: align-items 1s linear;
    }

    .msgModal {
        
    }

    /* USER PAGE */


    .audioCard {
        row-gap: 1rem;
        column-gap: 0.5rem;
    }

    .soundDeleteButton {
        padding: 0.25rem 0.5rem;
    }

    /*
    #dropbox {
        width: 75%;
        background-color: var(--color-mintCream);
        color: var(--color-gunmetal);
        border-radius: 1.5rem;
        border: none;
        height: 4rem;
    }

    #dropbox:hover {
        box-shadow: none;
        border: none;
    }

    #uploadIcon {
        height: 100%;
    }
    */

    
}
