/*
How to achieve THOSE margins:

max-width: ~ 1280px, or ~ 90rem;
width: 100%;

*/

/* RESETS & VARIABLES */

:root {
    --color-mintCream: #F3F7F0;
    --color-darkMintCream: #cbcfc8;
    --color-gunmetal: #19323C;
    --color-lightGunmetal: #27646e;
    --color-sizzleRed: #F2545B; 
    --color-dreamRed: #A93F55;

    --pageHeaderHeight: 4rem;
}  

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition: width 0.1s linear, color 0.1s linear, background-color 0,1s linear, height 0.1s linear;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal)); 
    box-sizing: border-box;
    font-size: 16px;
} 

/* GENERAL */

a, a:visited {
    color: var(--color-lightGunmetal);
}

a:hover, a:active {
    color: var(--color-sizzleRed);
}

/* PAGE HEADER & FOOTER */

.pageHeader, .pageFooter, .main {
    transition: 0.4s;
}

.pageHeader, .pageFooter {
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal));
    width: 100%;
    padding: 0;
    margin: auto;
}

.pageHeader {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal));
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 2000;
    /*box-shadow: 0 0rem 0.25rem 0.25rem rgba(0,0,0,0.25);*/
}

#navContainer {
    height: var(--pageHeaderHeight);
}

#mobileNavContainer {
    display: none;    
    overflow: hidden;
    transition: height 0.2s linear;
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal));
    padding: 0;
    padding-bottom: 0.2rem;
    width: 100%;
}

.growHeight {
    height: auto;
    transition: height 0.2s linear;
}

.pageHeader * {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageHeader nav {
    margin-left: auto;
}

.pageHeader nav * {
    margin-left: 1rem;
}

.mobileNavButton {
    display: none;
}

#mobileNavMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
    background-color: var(--color-darkMintCream);
    /*
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal));
    */
}

#mobileNavMenu Link, #mobileNavMenu a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0.2rem;
    margin: 0.2rem 0;
    color: var(--color-lightGunmetal);
    background-color: var(--color-mintCream);
    border-radius: 0.5rem;
}

#mobileNavMenu Link:hover, #mobileNavMenu a:hover {
    background-color: var(--color-sizzleRed);
    color: var(--color-mintCream);
    cursor: pointer;
}

.pageHeader nav .navButton:link, .pageHeader nav .navButton:visited, .navButton, .navButton a:link, .navButton a:visited {
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    background-color: var(--color-mintCream);
    color: var(--color-gunmetal);
    border-radius: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    height: 3rem;
    max-height: 75%;
    transition: all 0.1s linear;
}

.pageHeader nav .navButton:link.transparentButton, .pageHeader nav .navButton:visited.transparentButton {
    background-color: transparent;
    backdrop-filter: brightness(90%);
    color: var(--color-mintCream);
}

.pageHeader nav .navButton:hover, .smallCenteredContentWrapper form input[type="submit"]:hover {
    background-color: var(--color-sizzleRed);
    color: var(--color-mintCream);
    cursor: pointer;
}

.pageHeader nav .navButton:hover.transparentButton {
    color: var(--color-sizzleRed);
}

.pageFooter {
    bottom: 0;
    left: 0;
    height: var(--pageHeaderHeight);
    width: 100%;
}

/* MAIN AREA */

.main {
    background-color: white;
    min-height: calc(100vh - 2*var(--pageHeaderHeight));
    width: 100%;
    color: var(--color-gunmetal);
    display: flex;
    flex-direction: column;
}

.contentArea {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.contentArea:first-of-type {
    padding-top: 1rem;
} 

.contentArea:last-of-type {
    padding-bottom: 1rem;
}
   
.dark {
    background-color: var(--color-gunmetal);
    background-image: linear-gradient(to right, var(--color-gunmetal), var(--color-lightGunmetal)); 
    justify-content: center;
    align-items: center;
    color: var(--color-mintCream);
}

/* CONTENT ITEMS */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80rem;
    width: 100%;
    margin: auto;
    position: relative;
    background: none;
    padding: 0.5rem 1rem;
}

.stack {
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    position: relative;
    background: none;
    /*padding: 2rem 1rem;*/
}

.contentBox article {
    /*border-radius: 1rem;*/
}

.smallCenteredContentWrapper {
    border-radius: 1rem;
    min-width: fit-content;
    width: 25rem;
    max-width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem 1rem rgba(0,0,0,0.1);
    background-color: var(--color-mintCream);
    color: var(--color-gunmetal);
}

.smallCenteredContentWrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smallCenteredContentWrapper form input {
    font-size: 1.1rem;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-bottom: 0.2rem solid lightgray;
    margin: 0 0 1.75rem 0;
    width: 100%;
    padding: 0.25rem;
}

.smallCenteredContentWrapper form input[type="submit"] {
    color: white;
    background-color: var(--color-gunmetal);
    border: none;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    height: 3rem;
    font-size: 1.2rem;
    transition: 0.1s;
}

.errorMsg {
    color: var(--color-sizzleRed);
    font-weight: bold;
    margin-bottom: 1.75rem;
}

.contentBox h1 {
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
}

.smallCenteredContentWrapper h1 {
    margin-bottom: 2rem;
}

/* BROWSE PAGE */

.contentCardGrid {
    position: relative;
    padding: 0;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    */
}

.toolbar {
    background-color: var(--color-mintCream);
    border: 0.1rem solid var(--color-darkMintCream);
    border-radius: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
}

.contentCardWrapper {
    position: relative;
    padding: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*background-color: white;
    box-shadow: 0 0 0.1rem 0.1rem rgba(0,0,0,0.05);
    border-radius: 1rem;*/
}

.contentCard {    
    overflow: hidden;
    height: auto;
    padding: 1.2rem 1.5rem;
    color: var(--color-gunmetal);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: [playBtn-start] auto [timeBar-start] 1fr [timeText-start] auto [downloadBtn-start] auto;
    grid-template-areas:    "title title author author"
                            "playBtn timeBar timeText downloadBtn";
    row-gap: 0.5rem;
    background-color: var(--color-mintCream);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.contentCard * {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.soundTitle {
    grid-area: title;
    text-align: center;
    align-items: start;
}

.soundPlayBox {
    grid-area: playBtn;
}

.soundSliderBox {
    grid-area: timeBar;
    padding: 0 0.75rem;
}

.soundSlider {
    width: 100%;
}

.soundTimeText {
    grid-area: timeText;
    justify-content: center;
    padding: 0 1rem;
}

.soundAuthor, .soundAuthor * {
    grid-area: author;
    justify-content: right;
    align-items: start;
}

.soundDownloadBox {
    grid-area: downloadBtn;
}

.authorLink {
    margin-left: 0.2rem;
}

#dropbox {
    height: 16rem;
    border: 0.3rem solid var(--color-darkMintCream);
    background-color: var(--color-mintCream);
    color: var(--color-gunmetal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    transition: background-color 0.1s linear, border-color 0.1s linear;
    transition: all 0.1s linear;
    z-index: 500;
    border-radius: 1rem;
}

#dropbox:hover {
    cursor: pointer;
    transition: background-color 0.1s linear border-color 0.1s linear;;
    filter: brightness(85%);
}

#dropbox:hover, #dropbox.highlighted {
    border: 0.3rem solid var(--color-sizzleRed);
    filter: brightness(85%);
}

.icon {
    height: 30%;
    margin: 0.5rem;
}

#dropbox.highlighted {
    box-shadow: 0 0 0 3000px rgba(0,0,0,0.5);
    border: 0.3rem solid var(--color-sizzleRed) !important;

}

#dropbox * {
    pointer-events: none;
}

/* Font Icons */

.iconButton {
    color: var(--color-gunmetal);
    transition: all 0.1s linear;
    padding: 0;
    border: none;
    background-color: transparent;
    height: 1.5rem;
    width: 1.5rem;
}

.iconButton:hover {
    color: var(--color-sizzleRed);
    cursor: pointer;
}

/* RANGE INPUT */

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

/* Accounting for most browsers, including Firefox */

/* Most browsers */
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--color-darkMintCream);
    height: 0.3rem;
    border-radius: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: var(--color-gunmetal);
    margin-top: -0.35rem;
    border-radius: 50%;
}

/* Firefox */
input[type="range"]::-moz-range-track {
    background: var(--color-darkMintCream);
    height: 0.3rem;
    border-radius: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    height: 1rem;
    width: 1rem;
    background-color: var(--color-gunmetal);
    border-radius: 50%;
}

/* MOBILE */

@media (max-width: 699.98px) {
    /*
    :root {
        --pageHeaderHeight: 5rem;
    }
    */

    /* HEADER */

    .pageHeader #logoLink {
        display: inline-block;
        max-width: 50%;
    }

    .pageHeader #logo {
        max-width: 100%;
    }

    .navButton {
        display: none;
    }

    #mobileNavContainer {
        display: block;
    }

    .mobileNavButton {
        display: inline-block;
        color: white;
        background: none;
        border: none;
        transition: all 0.1s linear;
    }

    .mobileNavButton:hover, .mobileNavButton:active {
        cursor: pointer;
        color: var(--color-sizzleRed);
    }

    /* CONTENT */

    .main {
        padding: 0;
        /*min-width: fit-content;*/
    }

    .contentBox {
        align-items: center;
        transition: align-items 1s linear;
    }

    .dropbox {
        width: 100%;
    }

    #dropboxCaption {
    }
}
